@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html, body {
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(236, 236, 236);
}


li, a, button {
    font-family: Roboto ;
    color: #111;
    text-decoration: none;
    font-size: 19px;
    
}

header {
    max-width: 100%;
    background-color: white; 
    color: rgba(255, 255, 255, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    
   
}


.logo {
    cursor: pointer;
}

#mobile {
    display: none;
    align-items: center;
}

#bar {
    cursor: pointer;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}


#navbar li {
    display: inline-block;
    padding: 0px 30px;
    transition: 0.7s ease;
    
}

#navbar li a:hover {
    color: rgb(32, 104, 212);
    transition: 0.3s ease;
}

#category_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: white;
    font-size: 22px;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 60px;
    

    
}


#category_nav li {
    display: inline-block;
    padding: 0px 30px;
    transition: 0.7s ease;
    
}

#category_nav li a:hover {
    color: rgb(32, 104, 212);
    transition: 0.3s ease;
}

#category_nav a {
    font-size: 20px;
}



button {
    background-color: white;
    border-radius: 7px;
    border-color: #111;
    border-width: 2.218px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    
}


#header_banner {
    font-size: 3.5vh;
    color: white;
    background-image: url("motherboardcpu.png"); 
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: top 25%, right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    
}

#header_banner h4 {
    font-size: smaller;
} 

#header_banner h5 {
    color: rgb(161, 161, 161);
    
}

#header_banner h1 {
    color: rgb(230, 230, 230);
    
}

/* MAIN CONTENT - DEALS */

#main_content {
    position: relative;
    padding: 1.5rem 0;
    margin: auto;
    width: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
    margin: auto;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}


.deal {
    position: relative;
    display: flex;
    min-width: 0;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;

}

.sz {
    margin-bottom: 1rem;
}

.deal-image {
    padding-right: 25px;
    grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 180px;
    align-self: center;
}

.deal-image img {
    display: block;
    max-width: 90%;
    max-height: 160px;
    margin: 0 auto;
    height: auto;
}

img {
    max-width: 100%;
}

.deal-description {
    display: inline-block;
}

.deal-description p {
    margin-top: 10px;
}

p strong {
    font-weight: 550;
    color: #111;
}

p s {
    font-weight: 550;
    color: rgb(129, 129, 129);
}

.deal-button {
    color: white;
    background-color: rgb(72, 137, 235);
    height: 2rem;
    width: 200px;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 10px;
    
    
}



.test {
    padding: 15px;
    display: grid;
    width: 100%;
}




/* FOOTER BEREICH*/

footer {
    text-align: center;
    padding: 20px 0px;
}

.footer_socialmedia_container {
    display: flex;
    justify-content: center;
    padding: 10px;

}

ul {
    list-style: none;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

li {
    display: inline-block;
}

/* ALLE SOCIAL MEDIA ICON STYLES */
.fa {
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.9;
  }

/* Alle Footer Links wie Contact, Impressum usw..*/
  .footer_links {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    
  }
  .footer_links li {
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
  }
  .footer_links a {
    text-decoration: none;
    display: block;
    font-family:Arial;
    position: relative;
    color: black;
    padding:.5em 0
  }
  .footer_links a:hover {
    color: rgba(36, 151, 218);
  }
  
  .footer_links a:hover:before {
    left: 0;
    width: 100%;
  }
  .footer_links a:before {
    content: "";
    position: absolute;
    width: 0;
    height: .5px;
    background-color: rgba(36, 151, 218);
    bottom: calc(-1px);
    right: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  


  .copyright {
    text-align: center;
  }


  /* Responsive / Media Querys*/

  @media (max-width:830px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active {
        right: 0px;
    }
    
    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #products .products-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        flex-wrap: wrap;
    }

    #header_banner {
        background-position: center center;
        padding: 0 40px;
       
    }

    header {
        justify-content: space-between;
    }

    #header_banner h4 {
        display: none;
    }

    #category_nav a {
        font-size: 18px;
    }

    button {
        background-color: white;
        border-radius: 5px;
        width: 120px;
        height: 37px;
        cursor: pointer;
        
    }

    #main_content {
        position: relative;
        padding: 1.5rem 0;
        margin: auto;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .deal-image img {
        max-height: 85px;
    }
    
    img.d-img {
        max-width: 100%;
    }

    .deal-button {
        width: 100%;
    }

    .deal-image {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 1;
        grid-column: 1;
        width: 100px;
    }

  }


  /* DATENSCHUTZ & IMPRESSUM */

  article {
    
    padding-left: 20px;
    padding-top: 25px;
    color: rgb(46, 46, 46)
  }

  article h1 {
    font-size: 30px;
    color: rgb(46, 46, 46);
    margin: 0 0 6px;
  }

  article h2 {
    font-size: 28px;
    color: #111;
    margin: 0 0 6px;
  }

  article h3 {
    font-size: 26px;
    margin: 0 0 6px;
  }

  article p {
    margin: 0 0 15px;
  }
